In [4]:
import pandas as pd
from fastparquet import ParquetFile as pf

### Descarga data
wget "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-01.parquet"

### Debido a cambio en el formato de data, se instala el paquete para leer el formato
### apache paquefile

In [5]:
parquetFile = '../data/green_tripdata_2019-01.parquet'

In [70]:
pfData = pf(parquetFile)
data = pfData.to_pandas()

In [71]:
data = pd.read_csv('../data/green_tripdata_2019-01.csv')

In [72]:
data.dtypes

VendorID                   int64
lpep_pickup_datetime      object
lpep_dropoff_datetime     object
store_and_fwd_flag        object
RatecodeID                 int64
PULocationID               int64
DOLocationID               int64
passenger_count            int64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
ehail_fee                float64
improvement_surcharge    float64
total_amount             float64
payment_type               int64
trip_type                  int64
congestion_surcharge     float64
dtype: object

In [90]:
data['lpep_pickup_date'] = pd.to_datetime(data['lpep_pickup_datetime']).dt.date
data['lpep_dropoff_date'] = pd.to_datetime(data['lpep_dropoff_datetime']).dt.date

#pd.to_datetime(data['lpep_dropoff_datetime'], format='%Y-%m-%d').dt.date
data.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,lpep_pickup_date,lpep_dropoff_date
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,...,0.00,0.0,NaN,0.3,4.30,2,1,NaN,2018-12-21,2018-12-21
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,...,0.00,0.0,NaN,0.3,7.30,2,1,NaN,2019-01-01,2019-01-01
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,...,0.00,0.0,NaN,0.3,5.80,1,1,NaN,2019-01-01,2019-01-01
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,...,2.96,0.0,NaN,0.3,19.71,1,1,NaN,2019-01-01,2019-01-01
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,...,0.00,0.0,NaN,0.3,19.30,2,1,NaN,2019-01-01,2019-01-01

In [79]:
data[(data['lpep_pickup_datetime'] >= '2019-01-15 00:00:00') & (data['lpep_dropoff_datetime'] <= '2019-01-15 23:59:59')]

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
272684,2,2019-01-15 15:33:43,2019-01-15 15:33:50,N,5,195,195,1,0.00,35.00,0.0,0.0,0.00,0.0,NaN,0.0,35.00,1,2,NaN
275421,2,2019-01-15 16:50:12,2019-01-15 17:23:03,N,1,195,17,1,6.37,25.50,1.0,0.5,5.46,0.0,NaN,0.3,32.76,1,1,NaN
276753,2,2019-01-15 17:44:00,2019-01-15 18:03:10,N,1,34,52,1,2.08,13.00,1.0,0.5,3.70,0.0,NaN,0.3,18.50,1,1,NaN
278806,2,2019-01-15 20:02:24,2019-01-15 20:17:52,N,1,195,228,1,3.23,13.00,0.5,0.5,0.00,0.0,NaN,0.3,14.30,2,1,NaN
279998,2,2019-01-15 00:00:45,2019-01-15 00:07:05,N,1,244,42,2,1.60,7.50,0.5,0.5,0.00,0.0,NaN,0.3,8.80,2,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301222,2,2019-01-15 21:49:49,2019-01-15 21:56:11,N,1,129,260,1,1.07,6.50,0.5,0.5,0.00,0.0,NaN,0.3,7.80,2,1,NaN
301223,2,2019-01-15 22:29:47,2019-01-15 22:39:48,N,1,82,173,1,1.37,8.00,0.5,0.5,0.00,0.0,NaN,0.3,9.30,2,1,NaN
301258,2,2019-01-15 22:56:18,2019-01-15 23:43:35,N,5,74,55,1,23.42,65.91,0.0,0.5,0.00,0.0,NaN,0.0,66.41,1,2,NaN
301411,2,2019-01-15 22:18:09,2019-01-15 22:25:53,N,1,82,129,1,1.40,7.00,0.5,0.5,0.00,0.0,NaN,0.3,8.30,2,1,NaN
301517,2,2019-01-15 21:52:54,2019-01-15 21:55:14,N,1,82,129,1,0.49,4.00,0.5,0.5,0.00,0.0,NaN,0.3,5.30,2,1,NaN

In [97]:
data.groupby(pd.to_datetime(data['lpep_pickup_datetime']).dt.date)['trip_distance'].max()

lpep_pickup_datetime
2009-01-01     11.23
2010-09-23      6.57
2018-12-04      0.00
2018-12-05      0.00
2018-12-07      0.00
2018-12-21      0.00
2018-12-31      8.73
2019-01-01     59.13
2019-01-02     35.57
2019-01-03     42.80
2019-01-04     43.84
2019-01-05     51.79
2019-01-06     60.91
2019-01-07     60.08
2019-01-08     41.01
2019-01-09     39.40
2019-01-10     64.20
2019-01-11     34.11
2019-01-12     41.24
2019-01-13     44.42
2019-01-14     36.07
2019-01-15    117.99
2019-01-16     40.19
2019-01-17     47.48
2019-01-18     80.96
2019-01-19     40.70
2019-01-20     42.07
2019-01-21     41.18
2019-01-22     51.36
2019-01-23     36.80
2019-01-24     50.37
2019-01-25     37.41
2019-01-26     46.21
2019-01-27     40.86
2019-01-28     64.27
2019-01-29     41.37
2019-01-30     38.60
2019-01-31     50.07
2019-02-01      8.84
Name: trip_distance, dtype: float64

In [5]:
data.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
store_and_fwd_flag               object
PULocationID                      int64
DOLocationID                      int64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
airport_fee                     float64
dtype: object

In [78]:
data.size,data.shape

(12618360, (630918, 20))

In [16]:
df = data
df.columns = df.columns = [ x.lower() for x in df.columns]

In [17]:
df.head()

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecodeid,store_and_fwd_flag,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [19]:
df.to_csv('../data/yellow_tripdata_2021-01.csv',index=False)

In [20]:
df = pd.read_csv('../data/yellow_tripdata_2021-01_100.csv')

C:\Users\DELL\AppData\Local\Temp\ipykernel_28960\2204177997.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/yellow_tripdata_2021-01_100.csv')

In [11]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN